# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?

# Xcode / Swift
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.xcuserdatad/
xcuserdata/
**/*.xcodeproj/xcuserdata/
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode build products / debug symbols
*.dSYM
*.dSYM.zip
*.dSYM.tar
*.xcarchive
*.ipa

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (if added later)
Pods/
Carthage/Build/

# Fastlane (if added later)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Editors
.idea/
.vscode/
*.swp
